<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lottery_info.user %>
</p>

<p>
  <strong>Store:</strong>
  <%= @lottery_info.store %>
</p>

<p>
  <strong>Lottery type:</strong>
  <%= @lottery_info.lottery_type %>
</p>

<p>
  <strong>Lottery date:</strong>
  <%= @lottery_info.lottery_date %>
</p>

<p>
  <strong>Purchase cost:</strong>
  <%= @lottery_info.purchase_cost %>
</p>

<p>
  <strong>Lottery number:</strong>
  <%= @lottery_info.lottery_number %>
</p>

<%= link_to 'Edit', edit_lottery_info_path(@lottery_info) %> |
<%= link_to 'Back', lottery_infos_path %>
